name: Build project
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Java
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build project
        uses: eskatos/gradle-command-action@v1
        with:
          dependencies-cache-enabled: true
          arguments: clean build jacocoTestReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: 683e1086-883f-436f-a86d-ed525c53d5c2
          file: build/reports/jacoco/report.xml

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ee12bccf-7238-483d-9b55-584f77a226b2
          heroku_app_name: departmentcrud
          heroku_email: developer.urumov@gmail.com
          usedocker: true

      - name: Run API Tests
        id: run-newman
        uses: anthonyvscode/newman-action@v1
        with:
          collection: postman/homework3.postman_collection.json
          environment: postman/[heroku] digital-habits.postman_environment.json
          delayRequest: 50
          reporters: cli